

<body>
    <th>
        <mat-icon routerLink="" [ngClass]="{'select-home': selected_route() == 0}">home</mat-icon>
        <tr routerLink="competences" [ngClass]="{'selected-tr': selected_route() == 1}"> Compétences </tr>
        <tr routerLink="about-me" [ngClass]="{'selected-tr': selected_route() == 2}"> Á Propos De Moi </tr>
        <tr routerLink="my-experiences" [ngClass]="{'selected-tr': selected_route() == 3}"> Mon Parcours</tr>
        <tr routerLink="contacts" [ngClass]="{'selected-tr': selected_route() == 4}"> Contacts </tr>
    </th>
</body>
    