

mat-card{
    display: inline-block;
    margin-top: 1%;
    margin: 1%;
    width: calc(94% / 3);
    background-color:rgba(0, 0, 0, 0.6);
    align-items: center;
    color: white;
    height: 80%;
    img{
        margin-top: 20%;
        margin-left: 25%;
        width: 50%;
        height: width;
    }
    

    h1{
        margin-top: 10%;
        text-align: center;
        font-size: 500%;
    }
    a{
        height: 100%;
        width: 100%;
    }
}

mat-card:hover{
    img{
        width: 51%;
        height: width;
    }
    h1{
        text-decoration: underline;
    }
    cursor: pointer;
}