:host{
    display: block;
}

.mat-card{
    position: relative;
    top: 1%;
    
    left: 10%;
    height:fit-content;
    width: 80%;
    background-color: rgba(85, 85, 85, 0.3);
}

.mat-card-content{
    width: 40%;
    padding: 0 5%;
    font-size: 30px;
    text-decoration: none;
    color: white;
    opacity: 1;
    img{
        margin-top: 5px;
        height: 25px;
        padding-right: 5px;
    }
    
}

.mat-card-content:hover{
    img{
        margin-top: 8px;
        height: 28px;
        padding-right: 5px;
    }
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}