mat-card{
    position: relative;
    top: 1%;    
    left: 10%;
    height: min-content;
    width: 80%;
    background-color: rgba(0,0,0, 0.6);

}

li{
    display: flex;
    h4{
        margin-left: 5px ;
    }
    
}

.contenu{
    div{
        display: flex;
        margin-bottom: 4%;
    }
    
    
    h2{
        margin-left: -5px;
        display: block;
        text-shadow: 1.5px 1.5px grey;
        font-weight: 600;
    }
    img{
        height: 250px;
        width: 250px;
        display: inline-block;
    }
    ul{
        h4{
            
            display: block;
            width: 100%;
            font-weight: bold;
        }
        display: inline-block;
    }
    p{
        margin-left: 15px;
    }
    margin: 1% 0;
    position: relative;
    opacity:initial;
    color: white;
    left: 1%;
}