<div class="all">
  <div class="text son">
    <h1>{{openingText}},</h1>
    <h2>Je suis <h1 style="font-weight: bold; display:inline-block;">Thomas LORIDAN</h1></h2>
    <h3>Et bienvenue sur mon E-CV</h3>
    <br><br>
    <h3>Mon CV téléchargeable</h3>
    <mat-icon> arrow_downward</mat-icon>
    <br><br>
    <button mat-raised-button (click)="downloadFile()"> <mat-icon>cloud_upload</mat-icon> Télécharger le fichier</button>
    
  </div>
    <img src="../../../../assets/images/moi.jpg" alt="" class="moi son">
</div>