:host{
    color: white;
}
.moi{
    width: 30%;
    height: width;
    margin-top: 12%;
    border-radius: 50%;
}
h2{
    display: inline-block;
}

.text{
    width: 50%;
    display: inline-block;

    vertical-align: 100%;
}
.son{
    align-items: center;
    text-align: center;
}
.all{
    margin-left: 10%;
    width: 80%;
}