<mat-card>
    <div class="texte">
        
        <h2>Développement Web : </h2> 
        <ul>
            <li>
                <img matTooltip="Angular (Front)" src="../../../../assets/images/Angular_full_color_logo.svg.png" alt="" style="height: 25px; width:25px;"> <h4>Angular : </h4>
            </li>
            <p>Refonte d'application partie <span style="font-weight: 600;">Front</span> J2E vers Angular pour ArcelorMittal France (HTML, CSS, TypeScript)</p> <br>

                
            <br>

            <li>
                <img matTooltip=".NET Core (Back)" src="../../../../assets/images/dotnet.png" alt="" style="height: 25px; width:25px;"> <h4>.NET core :</h4>
            </li>
            <p>Refonte d'application partie <span style="font-weight: 600;">Back</span> J2E vers Angular pour ArcelorMittal France (HTML, CSS, TypeScript)</p>

            <br><br>

            <li>
               Autres compétences :
            </li>
            <br>
            <p class="vuejs">
                Bases en 
                <img matTooltip="VueJs (Front)" src="../../../../assets/images/VueJS.png" alt="" style="height: 25px; width:25px; display:flex;"> 
                VueJS et 
                <img matTooltip="ExpressTS (Back)" src="../../../../assets/images/expressTS.png" alt="" style="height: 25px; width:75px; display:flex;">
                Express (TypeScript) 
            </p>
        </ul>
        <br><br><br>
        
        <h2>Langage orienté objet :</h2>
        <ul> 
            <li>
                <img matTooltip="JAVA" src="../../../../assets/images/java.png" alt="" style="height: 30px; width:30px; display:flex;"><h4>JAVA :</h4>
            </li>
            <p>développement d’un jeu d’échecs </p>

            <li>
                <img matTooltip="C++" src="../../../../assets/images/cpp.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>C++ :</h4>
            </li>
            <p>développement d’un jeu de stratégie ()</p>
        </ul>
        <br><br><br>
        <h2>Langage procédureaux : </h2>
        <ul>
            <li>
                <img matTooltip="Python" src="../../../../assets/images/python.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>Python :</h4>
            </li>
            <p>Python (création d'IHM, d'un jeu de dame, gestion de données)</p>
            <li>
                <img matTooltip="C" src="../../../../assets/images/c.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>Python :</h4>
            </li>
            <p>création d'un morpion et mise en place de socket de communications</p>
        </ul>
        <br><br><br>
        <h2>Bases de Données relationnelles : </h2>
        <ul>
            <li>
                <img matTooltip="PostGreSQL" src="../../../../assets/images/pgsql.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>PostGreSQL</h4>
            </li>
            <li>
                <img matTooltip="PL/PGSQL" src="../../../../assets/images/pgsql.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>PostGreSQL programmation Language</h4>
            </li>
            <li>
                <img matTooltip="MySQL" src="../../../../assets/images/MySQL.png" alt="" style="height: 25px; width:25px; display:flex;"><h4>MySQL</h4>
            </li>
            <li>
                <img matTooltip="SQLite" src="../../../../assets/images/SQLite.png" alt="" style="height: 25px; width:50px; display:flex;"><h4>SQLite</h4>
            </li>
        </ul>
    
        
    </div>
</mat-card>
<div class="style-adjustement"> </div>